*{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: 'Open Sans', sans-serif;
    max-width: 1920px;
    margin: auto;
}
p{line-height: 20px;
}

/* navigation */
 nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 100px;
    padding-right: 100px;
 }
.container{
    background: gray;
    position: relative;
}
.search-bt{
    display: block;
    font-size: 15px;
    height: 100%;
    width: 100%;
    padding: 5px 0px 5px 10px;
    cursor: text;
    padding-bottom: ;
}

.search{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
    padding-right: 10px;
}
.search-icon{
    width: 15px;
    opacity: 0.8;
    padding-top: 5px;
}
.menu{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.menu:hover{
    background-color: transparent;
    box-shadow: 1px 1px 3px #494949;
}
.menu-icon{
    height:20px; 
}

/* .bt{
    background-color: transparent;
    height: 30px;
    border: 0.5px;
} */

/* main */
main{
    background-color: rgb(0, 119, 167);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;   
    padding-left: 100px;
    padding-right: 100px;
}

.Hero1{
    color: rgb(255, 255, 255);
    font-size: 12vmin;
}

.image-from{
    color: rgb(227, 253, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2vmin;
}

.button2{
    width: 30vmin;
    height: 6vmin;
    color: rgb(0, 119, 167);
    font-size: 2vmin;
    font-weight: bold;
    border-style: none;
    border-radius: 3px;
    cursor: pointer; 
}
.button2:hover{
    box-shadow: 0px 3px 4px rgb(1, 77, 77);
    color: rgb(26, 161, 161);
    background-color: white;
    font-weight: bold;

}

.main-image{
    width: 100vmin;
    height: 100%;

}


/* section2 */
.hero2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.line{
    width: 35px;
    height: 5px;
    background-color: red;
    margin-bottom: 15px;
}
.hero2p{
    opacity: 0.5;
    padding-top: 20px;
    width: 250px;
    font-style: italic;
}

/* section3 */
.section3{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    justify-content: space-between;
}

.image2{
    width: 80vmin;
    height: auto;
}

.section3R{
    padding-left: 30px;
}
.section3 h1{
    font-size: 40px;
}
.section3B{
    height: 40px;
    width: 160px;
    background-color: rgb(0, 119, 167);
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 30px;
    cursor: pointer;
}
.section3B:hover{
    box-shadow: 0px 3px 4px rgb(1, 77, 77);
    border-color: rgb(4, 221, 185);
    color: rgb(26, 161, 161);
    background-color: white;
    font-weight: bold;
}
.section3-p1{
    opacity: 0.8;
}
.section3-p2{
    padding-top: 30px;
    padding-bottom: 10px;
}

/* section4 */
.section4{
    background-color: rgb(0, 217, 255);
    margin-top: 50px;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 500px;
    padding-bottom: 40px;
    color: white;
}
.section4B{
    background-color: rgb(0, 217, 255);
    border-color: white;
    border-style:solid;
    color: white;
    height: 30px;
    width: 120px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #494949;
}
.section4B:hover{
    box-shadow: 0px 3px 4px rgb(1, 77, 77);
    border-color: rgb(4, 221, 185);
    color: rgb(1, 77, 77);
    background-color: white;
}
.section4h1{
    font-size: 100px;
}

/* section5 */
.section5{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    justify-content: space-between;
}

.image-2{
    width: 80vmin;
    height: auto;
}

.section5R{
    padding-left: 30px;
}
.section5 h1{
    font-size: 40px;
}
.section5B{
    height: 40px;
    width: 160px;
    background-color: white;
    color: black;
    border-color: black;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgb(1, 77, 77);
}
.section5B:hover{
    box-shadow: 0px 3px 4px rgb(1, 77, 77);
    border-color:aqua ;
    color: rgb(1, 77, 77);
}
.section5-p2{
    padding-top: 30px;
    padding-bottom: 10px;
}
.freepik{
    color: rgb(0, 140, 255);
    text-decoration: none;
    
}

/* section6 */
.section6{
    background-color: rgb(4, 221, 185);
    margin-top: 50px;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 500px;
    padding-bottom: 40px;
    color: white;
}
.section6B{
    background-color: rgb(4, 221, 185);
    border-color: white;
    border-style:solid;
    color: white;
    height: 30px;
    width: 120px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #494949;
}
.section6B:hover{
    box-shadow: 0px 3px 4px rgb(1, 77, 77);
    border-color: aqua;
    background-color: white;
    color: rgb(1, 77, 77);
}
.section6h1{
    font-size: 100px;
}

/* section7 */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0;
  }
  /* .grid-item{
    padding: 0;
    display: block;
  } */
  .grid-container img{
    width: 100%;
    height: auto; 
  }

  /* .image-gallery1{
    display:flex;
  }
  .image-gallery2{
    display:flex;
    margin-top: -4.6px;
  } */
  
   /* .col.image-gallery{
    display: flex;
    flex-wrap: wrap;
   }
   .image-gallery img{
    width: 300px;
   } */
   
/* section8 */
.section8{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    
}
.section8-1{
    padding-right: 80px;
    max-width: 400px;
    font-size: 30px;
}
.section8-2{
    max-width: 400px;
}
.section8-3{
    max-width: 400px;
}
.section8B{
    color: black;
    background-color: white;
    width: 160px;
    height: 40px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0px 0px px #494949;
}
.section8B:hover{
    box-shadow: 0px 3px 4px rgb(1, 77, 77);
    border-color: aqua;
    color: rgb(1, 77, 77);
}
/* Registration form */
.registration-form{
    width: 100%;
    padding: 50px 100px 50px 100px;
    margin-top: 70px;
    background: #011b53;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.re-image{
    width: auto;
    height: 40vh;   
}
.re2{
    padding-left: 100px;
}
.registration-form .titel{
    font-size: 35px;
    font-weight: 500;
    color: white;
    padding-bottom: 20px;
}

/* .registration-form.titel::before{
    content:'';
    position: absolute;
    height: 3px;
    width: 30px;
    background: #494949;
} */
/* .registration-form form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    padding-top: 10px;
}
/* .input-box{
    width: calc(100%/ 2 - 20PX);
    margin-top: 20px;
}
.input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding-left: 10px;
    transition: all 0.3s ease;
}
.input-box .details{
    display: block;
    margin-bottom: 10px;
}
.user-details .input-box input:focus{
    outline: none;
} */
/* .user-details .input-box input:invalid{
    border: 2px solid red;
} */
/* .user-details .input-box input:valid{
    border: 2px solid green;
} */ 
.input-control{
    display: flex;
    flex-direction: column
}
.input-control label{
    color: white;
    font-size: 16px;
}
.input-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: flex;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}
.input-control input:focus{
    outline: 0;
}
.input-control.success input{
    border-color: #09c327;
}
.input-control.error input{
    border-color: #ff3860;
}
.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}
.gender-details{
    color: white;
    padding-top: 20px;
}
.gender-title{
    font-size: 20px;
}
form .gender-details .category{
    display: flex;
    justify-content: space-between;
    margin: 14px 0;
    width: 350px;
}
.gender-details .category label{
    display: flex;
    align-items: center;
}
.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    border-Color: #d9d9d9;
    background: black;
}
form input[type="radio"]{
    display: none;
}
.button-r{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.bt{
    height: 30px;
    width: 160px;
    border-radius: 5px;
    border: none;
    cursor: pointer;  
}
.bt:hover{
    box-shadow: 0px 3px 4px rgb(22, 22, 22);
    border-color: aqua;
    border: aquamarine 1px;
    color: rgb(1, 77, 77);
}


/* footer section9 */
.footer{
    background-color: rgb(0, 217, 255);
    margin-top: 0px;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
}
.section9{
    color: white;
    display: flex;
    flex-direction: row;
}

.section9-2{
    padding-left: 50px;
}
.section9h1{
    font-size: 60px;
 
}
.section9-1{
    width: 500px;
}
.section9p1{
    font-size: 18px;
    line-height: 30px;
}
.socialmedia1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 90px;
    padding-top: 10px;
    padding-bottom: 40px;   
}
.fbicon{
    width: 20px;
    cursor: pointer;
}
.twicon{
    width: 20px;
    cursor: pointer;
}
.insicon{
    width: 20px;
    cursor: pointer;
}
.linkicon{
    width: 20px;
    cursor: pointer;
}
.contact{
    letter-spacing: 2px;
    padding-top: 12px;
    font-size: 20px;
}
.socialmedia2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 120px;
    padding-top: 100px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
